# Person Statistics
Count:      {{. | len}}

# Listing
{{/* Minus sign before closing braces means no newlines should be outputed */ -}}
{{range . -}}
--------------------------------------------------------------------------------
Name:       {{.Name}} (Alias: {{if (eq .Gender "Male")}}Mr {{else}}Miss {{end}}{{.Name}})
Age:        {{.Age}} {{if (le .Age 1)}}year{{else}}years{{end}}
Gender:     {{.Gender}}
Can Hunt:   {{if .CanHunt}}Yes{{else}}No{{end}}
Skills:     ({{.Skills | len}}) {{range .Skills}}{{.}}, {{else}}Nothing yet!{{end}}
Skills (f): {{if (.Skills | len | ne 0)}}({{.Skills | len}}) {{( .Skills | getFormattedSkills )}}{{else}}No skills{{end}}
Skills (F): {{(.Skills | getFormattedSkills)}}
Main Skill: {{if (ne (.Skills | len) 0)}}{{slice .Skills 0 1}}{{else}}Nothing at all!{{end}}
Main Skill: {{(.Skills | getMainSkill)}}
Last Skill: {{(.Skills | getLastSkill)}}
{{/* In following line the dec function will be executed at last once, so empty slice can cause panics */ -}}
Last Skill: {{range (len .Skills | dec | slice .Skills )}}{{.}}{{else}}No last skill{{end}}
Age + 2:    {{(.Age | addTwo)}} years
Name len:   {{(.Name | getNameLen)}}
{{end -}}
